{
    "extends": "standard",
    "rules": {
        "indent": [
            "error",
            "tab"
        ],
        "no-tabs": "off",
        "no-mixed-spaces-and-tabs": "off"
    },
    "plugins": [
        "class-property"
    ],
    "parser": "babel-eslint"
}